
if BOARD_ORB69

config ZMK_KEYBOARD_NAME
    default "orb69"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

config LED
    default y

config LED_WIDGET_INTERVAL_MS
    int "Minimum wait duration between two blinks in ms"
    default 200

config LED_WIDGET_BATTERY_LEVEL_CRITICAL
    int "Critical battery level percentage"
    default 10

endif # BOARD_ORB69
