
if BOARD_ORB69

config ZMK_KEYBOARD_NAME
    default "orb69"

config USB_DEVICE_MANUFACTURER
    default "Sava >:)"

config BT_DIS_MANUF
    default "Sava >:)"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

config BT_MAX_CONN
    default 3

config BT_MAX_PAIRED
    default 3

endif # BOARD_ORB69
